# Environment
NODE_ENV=development

# Local DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pos_db

# Neon (producción)
DATABASE_URL=

# JWT
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1h

# Cloudinary
CLOUDINARY_CLOUD_NAME=ddh27tt1l
CLOUDINARY_API_KEY=373586129635738
CLOUDINARY_API_SECRET=lW5IMjiAV5DMt1g31N8Pmvek2Co

MAIL_USER=ballesty.t@gmail.com
MAIL_PASS=igho wndp nldf sgej


#MercadoPago

MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
